@media (max-width: 1500px) {
    .title-top{
        font-size: 90px;
    }
    .work__item-text{
        font-size: 24px;
        margin: 20px 0 30px;
    }
}

@media (max-width: 1210px) {
    .lore__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .lore__item-text{
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    .slider__text{
        margin: 60px 0 10px;
    }
    .title-top{
        font-size: 70px;
    }
    .images__avatar{
        height: 600px;
    }
    .contacts__link{
        top: 50%;
        font-size: 15px;
    }
    .works__item{
        height: 530px;
        &-line{
            gap: 30px;
        }
    }
    .works__item-line__img-m{
        width: 250px;
        height: 250px;
    }
    .works__wrapper{
        flex-wrap: wrap;
        width: 100%;
        gap: 65px;
    }
    .work__item{
        width: 100%;
    }
    .experience__item{
        display: block;
    }
    .experience__item-left{
        max-width: 100%;
        border-radius: 65px;
        &__year{
            font-size: 18px;
        }
        &__place__experience{
            font-size: 40px;
        }
        &__job__title{
            font-size: 20px;
        }
    }
    .experience__text{
        max-width: 100%;
        font-size: 22px;
    }
}

@media (max-width: 850px) {
    .slider__text{
        height: 30px;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    
    .slider__text-item{
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        &:first-child {
            animation: slide 10s infinite;
        }
    }
    
    @keyframes slide{
        0% {
            margin-top: 0;
        }
        16% {
            margin-top: -30px;
        }
        33% {
            margin-top: -60px;
        }
        50% {
            margin-top: -90px;
        }
        66% {
            margin-top: -60px;
        }
        82% {
            margin-top: -30px;
        }
        100% {
            margin-top: 0;
        }
    }


    .title-top{
        font-size: 50px;
    }
    .contacts__link{
        &-email{
            width: 130px;
        }
        &-adres{
            width: 65px;
        }
    }
    .education__item{
        max-width: 100%;
    }
}


@media (max-width: 600px) {
    .container{
        padding: 0 50px;
    }
    .logo__img{
        height: 15px;
    }
    .menu__list{
        font-size: 15px;
        gap: 30px;
    }

    .slider__text{
        height: 20px;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    
    .slider__text-item{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        &:first-child {
            animation: slide 10s infinite;
        }
    }
    
    @keyframes slide{
        0% {
            margin-top: 0;
        }
        16% {
            margin-top: -20px;
        }
        33% {
            margin-top: -40px;
        }
        50% {
            margin-top: -60px;
        }
        66% {
            margin-top: -40px;
        }
        82% {
            margin-top: -20px;
        }
        100% {
            margin-top: 0;
        }
    }


    .title-top{
        font-size: 39px;
    }

    .images__avatar{
        height: 420px;
    }
    .contacts__link{
        font-size: 12px;
            &-email{
                width: 100px;
            }
            &-adres{
                width: 55px;
            }
    }
    .text{
        color: #D9D9D9;
        font-size: 25px;
        font-weight: 400;
        line-height: 42px;
    }
    .works__wrapper{
        flex-wrap: wrap;
        width: 100%;
        gap: 35px;
    }
    .works__item{
        height: 315px;
        margin: 100px 0;
        &-line{
            gap: 15px;
        }
    }
    .works__item-line__img-m{
        width: 150px;
        height: 150px;
    }
    .work__item-text{
        font-size: 24px;
    }

    .title{
        font-size: 45px;
    }
    .experience{
        margin-bottom: 100px;
    }
    .experience__item-left{
        border-radius: 65px;
        &__year{
            font-size: 12px;
        }
        &__place__experience{
            font-size: 22px;
        }
        &__job__title{
            font-size: 14px;
        }
    }
    .experience__text{
        font-size: 16px;
    }

    .education{
        margin-bottom: 100px;
    }
    .education__item{
        padding: 55px 40px 60px 50px;
    }
    .lore{
        margin-bottom: 100px;
    }
    .lore__item-text{
        font-size: 22px;
    }
} 

@media (max-width: 450px) {
    .slider__text{
        margin: 60px 0 25px;
    }
}