@import 'reset';

body{
    background-color: black;
    font-weight: 400;
    line-height: 1.2;
    color: #BFBFBF;
    font-family: 'Poppins';
    font-size: 20px;
}
a{
    color: inherit;
}
.header{
    margin-top: 45px;
}

.container{
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 40px;
}

.header__top{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 50px;
}
.menu__list-item__link{
    transition: .5s;
    &:hover {
        color: #fff;
    }
}

.top-wrapper{
    margin-bottom: 55px;
}

.slider__text{
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
}

.slider__text-item{
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    &:first-child {
        animation: slide 10s infinite;
    }
}

@keyframes slide{
    0% {
        margin-top: 0;
    }
    16% {
        margin-top: -50px;
    }
    33% {
        margin-top: -100px;
    }
    50% {
        margin-top: -150px;
    }
    66% {
        margin-top: -100px;
    }
    82% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}

.title-top{
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(rgba(255, 255, 255, .1),rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

.images{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 20px;
    &__avatar{
        margin: 0 auto;
    }    
}

.contacts__link{
    position: absolute;
    top: 550px;
    word-wrap: break-word;
    color: #fff;
    &-email{
        left: 0;
    }
    &-adres{
        right: 0;
    }
}

.works__item{
    position: relative;
    overflow: clip;
    width: 100%;
    height: 724px;
    margin: 100px 0 200px;
}
.works__item-line{
    display: flex;
    gap: 24px;
    &__top{
        position: absolute;
        top: 0;
        left: -270px;
        transition: all 0.1s ease;
    }
    &__bottom{
        position: absolute;
        bottom: 0;
        right: -100px;
        transition: all 0.1s ease;
    }
}

@import 'media';

