@import 'reset';
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-weight: 400;
    line-height: 1.2;
    color: #BFBFBF;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
.text{
    color: #D9D9D9;
    font-size: 40px;
    font-weight: 500;
    line-height: 70px;
}
a{
    color: inherit;
}
.header{
    margin-top: 45px;
}

.container{
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 80px;
}

.header__top{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .8s ease;
    &._active{
        transform: translate(0, 0);
        opacity: 1;
    }
}

.menu__list{
    display: flex;
    gap: 50px;
}
.menu__list-item__link{
    transition: .5s;
    &:hover {
        color: #fff;
    }
}

.top-wrapper{
    margin-bottom: 55px;
}

.slider__text{
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    opacity: 0;
    transition: all 2s ease 0s;
    &._active{
        opacity: 1;
        transition: all 2s ease .4s;
    }
}

.slider__text-item{
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    &:first-child {
        animation: slide 10s infinite;
    }
}

@keyframes slide{
    0% {
        margin-top: 0;
    }
    16% {
        margin-top: -50px;
    }
    33% {
        margin-top: -100px;
    }
    50% {
        margin-top: -150px;
    }
    66% {
        margin-top: -100px;
    }
    82% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}

.title-top{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(rgba(255, 255, 255, .1),rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    transform: translate(0, 10%);
    opacity: 0;
    transition: all .8s cubic-bezier(0.24, 0.21, 0.52, 1.38);
    &._active{
        transform: translate(0, 0);
        opacity: 1;
    }
}

.images{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 20px;
    transform: translate(0, 30%);
        opacity: 0;
        transition: all .8s cubic-bezier(0.25, 0.1, 0.28, 1.46);
    &._active{
        transform: translate(0, 0px);
        opacity: 1;
    }
    &__avatar{
        margin: 0 auto;
        transform: rotateY(70deg);
        opacity: 0;
        transition: all .8s cubic-bezier(0.25, 0.1, 0.28, 1.46);
         &._active{
        transform: rotateY(0deg);
        opacity: 1;
        }
    }    
}

.contacts__link{
    position: absolute;
    top: 550px;
    word-wrap: break-word;
    color: #fff;
    &-email{
        left: 0;
    }
    &-adres{
        right: 0;
    }
}

.works__item{
    position: relative;
    overflow: clip;
    width: 100%;
    height: 724px;
    margin: 100px 0 200px;
}
.works__item-line{
    display: flex;
    gap: 24px;
    &__top{
        position: absolute;
        top: 0;
        left: -270px;
        transition: all 0.1s ease;
    }
    &__bottom{
        position: absolute;
        bottom: 0;
        right: -100px;
        transition: all 0.1s ease;
    }
}
.about{
    margin-bottom: 200px;
    width: 100%;
    overflow: hidden;
}
.about__text{
    display: flex;
    white-space: nowrap;
    width: 200%;
    overflow: hidden;
    color: #FFF;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 100px;
    animation: about__text 20s linear infinite;
    &-name{
        color: #383838;
        margin: 0 70px;
        width: 100%;
    }
    &-about{
        width: 100%;
    }
}
.works{
    width: 100%;
    overflow: hidden;
}
@keyframes about__text {
    0% {
        transform: translateX(0%) 
    }
    100% {
        transform: translateX(-50%) 
    }
}
.works__wrapper{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 200px;
}
.work__item{
    max-width: 700px;
}
.work__item-text{
    color: #FFF;
    font-size: 35px;
    margin: 40px 0;
    white-space: pre-wrap;
}

.title{
    color: #FFF;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 35px;
}
.experience{
    margin-bottom: 200px;
}
.experience__item{
    display: flex;
    max-width: 100%;
    border-radius: 70px;
    border: 3px solid #9F80FF;
}
.experience__item-left{
    border-radius: 70px;
    background: linear-gradient(270deg, #9F80FF 0%, rgba(159, 128, 255, 0.00) 100%);
    padding: 45px;
    max-width: 55%;
    &__year{
        color: rgba(255, 255, 255, .4);
    }
    &__place__experience{
        color: #FFF;
        font-size: 45px;
        margin: 8px 0;
    }
    &__job__title{
        color: #D9D9D9;
        font-size: 25px;
    }       
}
.experience__item-right{
    max-width: 590px;
    padding: 45px;
    color: #E6E6E6;
}

.education{
    margin-bottom: 200px;
}
.education__box{
    display: flex;
    justify-content: center;
}
.education__item{
    border-radius: 70px;
    border: 3px solid #FFAA80;
    background: linear-gradient(270deg, #FFAA80 0%, rgba(255, 170, 128, 0.00) 100%);
    padding: 55px 200px 70px 50px;
}

.lore{
    margin-bottom: 200px;
}
.lore__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.lore__items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    &-column__3{
        justify-content: end;
    }
}
.lore__item{
    max-width: 100%;
    padding: 20px 0;
    padding-left: 22px;
    border-radius: 95.884px;
    box-shadow: 0px 0px 19.176708221435547px 0px #9F80FF inset;
    &-text{
        color: #FFF;
        font-size: 18px;
    }
    &-column__2{
        box-shadow: 0px 0px 19.176708221435547px 0px #FFAA80 inset;
    }
    &-column__3{
        box-shadow: inset 0 0 20px #80d2fe;
    }
}
.awards{
    margin-bottom: 200px;
}
.awards__items{
    display: flex;
}
.awards__item{
    text-align: center;
    &-text{
        color: #fff;
        font-size: 17px;
        margin-top: 10px;
    }
}
.awards__item-link{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.awards__link-images{
    display: inline-block;
    border-radius: 20px;
    transition: all .4s ease;
    &:hover{
         border-radius: 37px;
         transform: scale(96%);
    }
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 140px;
}
.footer__left{
    display: flex;
    flex-direction: column;
    gap: 75px;
    text-align: center;
}
.footer__title{
    color: #BFBFBF;
    font-size: 75px;
    font-weight: 500;
}
.footer__email-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    border-radius: 70px;
    border: 2.387px solid #0073E5;
    background: linear-gradient(270deg, rgba(0, 115, 229, 0.00) 0%, #0073E5 100%);
    padding: 30px 50px;
}
.email{
    color: #FFF;
    font-size: 23px;
    font-weight: 500;
}
.sub{
    color: #FFF;
    font-weight: 500;
}
.footer__addess{
    font-size: 16px;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 70px;
    &-item{
        font-size: 23px;
    }
}
@import 'media';

