<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mvp-ser</title>
    <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
    {% include ('app/module/_header/_header.html') %}
     <main class="main">
        <section class="top-slider"> 
            <div class="top-slider__inner">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h1 class="top-slider__title">Доставка<br> по все России</h1>
                        {# <a hrefproduct.html"#" class="top-slider__link">Подробнее узнать о нас</a> #}
                    </div>
                </div>
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h1 class="top-slider__title">Доставка<br> по все России</h1>
                        {# <a hrefproduct.html"#" class="top-slider__link">Подробнее узнать о нас</a> #}
                    </div>
                </div>
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h1 class="top-slider__title">Доставка<br> по все России</h1>
                        <a hrefproduct.html"#" class="top-slider__link">Подробнее узнать о нас</a>
                    </div>
                </div>
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h1 class="top-slider__title">Доставка<br> по все России</h1>
                        {# <a hrefproduct.html"#" class="top-slider__link">Подробнее узнать о нас</a> #}
                    </div>
                </div>
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h1 class="top-slider__title">Доставка<br> по все России</h1>
                        <a hrefproduct.html"#" class="top-slider__link">Подробнее узнать о нас</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="category">
            <div class="container">
                <div class="category__inner">
                    <h3 class="category__inner-title">Категории</h3>
                    <div class="category-top">
                        <a class="category-top__item category-top__item--active" href="#tag-1">Винилуритан</a>
                        <a class="category-top__item" href="#tag-2">Велюр</a>
                        <a class="category-top__item" href="#tag-3">Плюш</a>
                        <a class="category-top__item" href="#tag-4">Полиэстер</a>
                        <a class="category-top__item" href="#tag-5">Твид</a>
                        <a class="category-top__item" href="#tag-6">Жаккард</a>
                    </div>
                    <div class="category-content">
                        <div class="category-content__item category-content__item--active" id="tag-1">
                            <h2 class="category-content-title category__title">Винилуритан</h2>
                            <div class="product">
                                <div class="product-item">
                                    <img src="images/product/1.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 1</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="images/product/3.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 3</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="images/product/2.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 2</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="images/product/3.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 3</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="images/product/2.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 2</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="images/product/1.jpg" alt="картинка товара" class="product-item__img">
                                    <div class="product-item__inner">
                                        <h4 class="product-item__title">Винилуритан 2 -TP обивочная пористо-моналитная,
                                            сорт 1</h4>
                                        <div class="product-item__price">430 ₽</div>
                                        <div class="product-item__sub-text">Прежде всего, сплочённость команды
                                            профессионалов влечет за собой процесс внедрения и модернизации
                                            кластеризации усилий.</div>
                                        <a href="product.html" class="product-item__link">Выбрать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-content__item" id="tag-2">Content 2</div>
                        <div class="category-content__item" id="tag-3">Content 3</div>
                        <div class="category-content__item" id="tag-4">Content 4</div>
                        <div class="category-content__item" id="tag-5">Content 5</div>
                        <div class="category-content__item" id="tag-6">Content 6</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include ('app/module/_footer/_footer.html') %}
    <script src="js/main.min.js"></script>
    {% include ('app/module/_script/_script.html') %}
</body>

</html>