$br-def: 40px 40px 40px 5px;
$default: #212629;
$accent: #FE9102;

%roboto-300{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

%roboto-700{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}